body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
}

h2 {
    text-align: center;
    color: black;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

thead {
    background-color: lightseagreen;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: whitesmoke;
}

th {
    text-transform: uppercase;
    letter-spacing: 1px;
}
